/* Подключение шрифтов */

@font-face {
    font-family: "K2D";
    src: url("../FONT/K2D/K2D-Bold.ttf");
    font-style: normal;
    font-weight: 700;
}

/* Сброс стилей */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    background: #1E1E1E;
}

/* Шапка сайта */

.header-logo {
    position: absolute;
    top: 30px;
    left: 194px;
    width: 153px;
    height: 52px;
    color:  #FFFFFF;
    font-family: "K2D";
    font-size: 40px;
    line-height: 52px;
}

.logo-x { color: #1CC500; }

.header-logo, .logo-x:hover { cursor: pointer; }

/* Стили для иконок в правой части шапки */

.search-and-market-group-icon img {
    width: 42.17px;
    height: 40.25px;
}

.search-and-market-group-icon img:hover { 
    cursor: pointer; 
    transform: scale(1.2);
    transition: all .4s ease;
}

.search-and-market-group-icon img:not(:hover) { 
    cursor: pointer; 
    transform: scale(1);
    transition: all .4s ease;
}

/* Оброщяемся к иконке поиска и делаем ей отступ с права от иконки маркета */

.search-and-market-group-icon img:nth-child(1) { margin-right: 57.92px; }

/* Блок для позиционирования иконок в правой части шапки */

.search-and-market-group-icon {
    float: right;
    margin-top: 30px;
    margin-right: 194px;
}

/* Делаем так чтобы новые элементы выводились с новой строчки и не позиционировались с права */

.clear { clear: both; }

/* Стили для горизонтальной линии внутри шапки */

header hr {
    position: relative;
    top: 40px;
    border: 1px solid #ffffff;
}