/* Импорт других css файлов */

@import url("./SiteHeader.css");
@import url("./Navigation.css");
@import url("./GreenLine.css");
@import url("./Carusel.css");
@import url("./AnimationCarusel.css");

/* Подключение шрифтов */

@font-face {
    font-family: "K2D";
    src: url("../FONT/K2D/K2D-Bold.ttf");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "RussoOnce";
    src: url("../FONT/RussoOnce/RussoOne-Regular.ttf");
    font-style: normal;
    font-weight: 400;
}

/* Сброс стилей */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    background: #1E1E1E;
}

/* Стили для основной части сайта */

/* Стили для блока контейнера лля элиментов навигации и карусели */

.container-nav-and-carusel {
    display: flex;
    margin-top: 70px;
}