.container-about-us {
    width: 100%;
    margin-top: 70px;
    margin-bottom: 70px;
    background-color: #000000;
    color: #ffffff;
}

.content-container {
    background: #000000;
    display: flex;
    justify-content: center;
}

.container-about-us h1 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #000000;
    font-family: "K2D", sans-serif;
    font-size: 33px;
    font-weight: 600;
}

/* Стили для списка внутри секции */

.list-container { background: #000000; }

.list-container .header-list {
    background: #000000;
    font-family: "K2D", sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    margin-left: -20px;
}

/* Элименты списка */

.list-container .list-item {
    font-family: "K2D", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 35px;
    list-style-type: square;
}

/* Меняем цвет маркера на зеленый */

.list-container .list-item li { 
    background: #000000; 
    color: #1CC500; 
}

/* Делаем цвет текста белым */

.list-container .list-item li span { color: #ffffff; }

/* Стили для изображения в секции */

.img-about-us { background: #000000; }

.img-about-us img { 
    position: relative;
    right: -100px;
    width: 600px;
    height: 310px;
    border-radius: 30px;
}

/* Стили для кнопки в секции "О нас" */

.list-container button {
    color: #ffffff;
    font-family: "Robotto";
    font-size: 20px;
    font-weight: 400;
    background: #1CC500;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: -20px;
    border-radius: 20px;
    padding: 10px;
    width: 250px;
}

.list-container button:hover {
    cursor: pointer;
    background: gray;
    transition: all .2s ease;
}

.list-container button:not(:hover) {
    cursor: pointer;
    background: #1CC500;
    transition: all .2s ease;
}